<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}} - {{site.title}}</title>
    {{>meta.hbs}}
    <link rel="stylesheet" href="https://finwo.nl/assets/style/global.css" />
  </head>
  <body>
    <main>
