<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home - Finwo Scribbles</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Language" content="en" />
<meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1" />
<meta name="keywords" content="scribbles, finwo" />
<meta name="description" content="Random javascript scribbles" />
<meta name="author" content="finwo" />
    <link rel="stylesheet" href="https://finwo.nl/assets/style/global.css" />
  </head>
  <body>
    <main>

<h1>Home</h1>

<hr />

Index of scribbles:

<table>
  <thead>
    <tr>
      <th>Published</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
<tr>
  <td datetime="2020-08-24T12:30Z">
    2020-08-24T12:30Z
  </td>
  <td><a href="https://finwo.github.io/scribbles//0000-test/">
    Test page
  </a></td>
</tr>
  </tbody>
</table>
<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }
</style>

    </main>
    <script src="https://finwo.nl/assets/script/nth.js"></script>
    <script src="https://finwo.nl/assets/script/date-format.js"></script>
  </body>
</html>
