{{>precontent.hbs}}

<h1>{{page.title}}</h1>

<hr />

<p>
  Here some code dumps / scribbles will be published which aren't worth their
  own repository but still may be interesting for other people to take a look
  at.
</p>

<hr />

<h2>Index of scribbles</h2>

<table>
  <thead>
    <tr>
      <th>Published</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
